[Unit]
Description=Your Spring Boot Application
After=network.target
 
[Service]
ExecStart=java -jar /tmp/healthCheckAPI-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
 
[Install]
WantedBy=multi-user.target