[Unit]
Description=Your Spring Boot Application
After=network.target

[Service]
User=csye6225
Group=csye6225
EnvironmentFile=/home/csye6225/.env
Type=simple
ExecStart=java -jar /home/csye6225/healthCheckAPI-0.0.1-SNAPSHOT.jar
Restart=always

[Install]
WantedBy=multi-user.target